@font-face {
  font-family: 'Adventure-Subtitles';
  src:url('./assets/fonts/Adventure-Subtitles.ttf.woff') format('woff'),
      url('./assets/fonts/Adventure-Subtitles.ttf.svg#Adventure-Subtitles') format('svg'),
      url('./assets/fonts/Adventure-Subtitles.ttf.eot'),
      url('./assets/fonts/Adventure-Subtitles.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

#root {
  background-color: var(--mantine-color-beige-2);
}

.title {
  font-family: 'Adventure-Subtitles';
}