:root {
  --primary-light: #85bfe3;
  --primary: #76a0ff;
  --primary-dark: #2052f5;
  --white: #ffffff;
  --greyLight-1: #f5f5f5;
  --greyLight-2: #dfe2e9;
  --greyLight-3: #cbcfda;
  --greyDark: #8d96ad;
}

@font-face {
  font-family: 'Adventure-Subtitles';
  src:url('./assets/fonts/Adventure-Subtitles.ttf.woff') format('woff'),
      url('./assets/fonts/Adventure-Subtitles.ttf.svg#Adventure-Subtitles') format('svg'),
      url('./assets/fonts/Adventure-Subtitles.ttf.eot'),
      url('./assets/fonts/Adventure-Subtitles.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--light-bg);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: auto;
}

label {
  font-weight: bold;
}

.avatar-custom {
  border: 2px solid var(--primary-light);
  image-rendering: -web-kit-optimize-contrast;
}

.card-custom {
  width: 90%;
}

.card-header-custom {
  display: flex;
  place-content: center;
}

.title {
  align-items: center;
  border: 1px solid var(--primary-light);
  border-radius: 1rem;
  box-shadow: 1px 1px .5rem var(--primary-light);
  display: flex;
  color: var(--primary-light);
  flex-direction: column;
  font-family: 'Adventure-Subtitles';
  justify-content: center;
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
  padding: .3rem;
  width: 80%;
}

.title-name {
  font-family: 'Adventure-Subtitles';
  font-size: x-large;
}

.title-desc {
  font-family: 'Adventure-Subtitles';
  font-size: medium;
}

.loading {
  background-color: #c0c0c069;
  border-radius: 1.5rem;
  display: flex;
  height: 100%;
  left: 0;
  place-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.loading-override {
  background-color: #c0c0c069;
  border-radius: 1.5rem;
  display: flex;
  height: 100%;
  left: 0;
  place-content: center;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}